from .settings import *

DEBUG = True

VAULT_TOKEN = 'vault-token'
VAULT_URL = 'https://127.0.0.1:8200'

CELERY_BROKER_URL = 'amqp://celery:celery@localhost:5672//'

SLACK_URL = 'slack_url'
SLACK_USERNAME = 'RedCap'
SLACK_CHANNEL = '#redcap'

SLACK_URL = 'slack-url'
SLACK_USERNAME = 'RedCap'
SLACK_CHANNEL = '#redcap'

# Your local settings here