from .settings import *

DEBUG = True

#VAULT_TOKEN=token
VAULT_URL = 'http://127.0.0.1:8200'

CELERY_BROKER_URL = 'amqp://celery:celery@localhost:5672/celery'

SLACK_URL = 'http://slack_url'
SLACK_USERNAME = 'RedCap'
SLACK_CHANNEL = '#redcap'

CUSTOM_CALLBACK = 'http://custom_callback_url'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'redcap',
        'USER': 'redcap',
        'PASSWORD': 'redcap',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

REST_FRAMEWORK = {
    'DEFAULT_PERMISSION_CLASSES': [
        'rest_framework.permissions.IsAuthenticated'
    ],
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'rest_framework.authentication.BasicAuthentication',
    ),
    'DEFAULT_PAGINATION_CLASS': 'rest_framework.pagination.LimitOffsetPagination',
    'PAGE_SIZE': 100
}

